@import '../../styles/vars.scss';
@import '../../styles/units.scss';
@import '../../styles/fonts.scss';

.hero {
    background-color: $secondary;

    &__container {
        padding: rem($containerPaddingY) rem($containerPaddingX) 0;
        max-width: rem(1280px);
        margin: 0 auto;

        @media screen and (min-width: 1000px) {
            padding: rem($containerLargePaddingY) rem($containerLargePaddingX) 0;
        }
    }

    &__flex {
        display: flex;
        flex-direction: column;
        gap: rem(48px);

        @media screen and (min-width: 768px) {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
        }
    }

    &__headerGroup {
        white-space: nowrap;
    }

    &__title {
        margin-bottom: rem(16px);

        font-weight: 600;
        font-size: clamp(48px, 8vw, 110px);
    }

    &__subtitle {
        font-weight: 500;
        font-size: clamp(30px, 5vw, 72px);
        margin-bottom: 16px;
    }

    &__image {
        align-self: flex-end;

        & img {
            display: block;
        }
    }
}