@import '../../styles/units.scss';
@import '../../styles/vars.scss';

.prices {
    background-color: $background;

    &__container {
        padding: rem($containerPaddingY) rem($containerPaddingX);
        max-width: rem(1280px);
        margin: 0 auto;

        @media screen and (min-width: 1000px) {
            padding: rem($containerLargePaddingY) rem($containerLargePaddingX);
        }
    }

    &__flex {
        display: flex;
        flex-direction: column;
        gap: rem(48px);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(48px);
    }
}