@import '../../styles/vars.scss';
@import '../../styles/units.scss';

.calc {
    background-color: $background;

    display: flex;
    flex-direction: column;
    gap: rem(48px);
    
    &__card {
        padding: rem(24px);

        display: flex;
        flex-direction: column;
        gap: rem(48px);

        max-width: rem(468px);
    }

    &__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(48px);

        @media screen and (min-width: 768px) {
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &__priceGroup {
        text-align: end;
    }
}